# --- Build Artifacts ---
.gradle/
build/
bin/
out/

# --- Operating System ---
.DS_Store
__MACOSX/

# --- IDEs ---
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath

# --- Environment & Secrets ---
.env
.env.*


# --- Gradle Wrapper ---
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
