name: Backend CI (Pull Requestìš©)

on:
  pull_request:
    branches: [ main ]
    paths:
      - "src/**"
      - "**/build.gradle"
      - ".github/workflows/**"

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build and Test
        run: ./gradlew clean build
        env:
          javaVersion: 17
          junit: 5.10.0
          springBootVersion: 3.3.5
          jjwtVersion: 0.11.5

      - name: Upload Test Reports
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: backend-test-reports
          path: "**/build/reports/tests/test"