name: Build + Publish

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    if: github.event_name == 'push' && github.ref_type == 'branch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Build & Test
        run: ./gradlew clean build
        env:
          javaVersion: 17
          junit: 5.10.0
          springBootVersion: 3.3.5
          jjwtVersion: 0.11.5

  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Publish to GitHub Packages
        env:
          ORG_GRADLE_PROJECT_javaVersion: 17
          ORG_GRADLE_PROJECT_junit: 5.10.0
          ORG_GRADLE_PROJECT_springBootVersion: 3.3.5
          ORG_GRADLE_PROJECT_jjwtVersion: 0.11.5
          ORG_GRADLE_PROJECT_gprUser: ${{ github.actor }}
          ORG_GRADLE_PROJECT_gprKey: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew clean publish

